@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-border: linear-gradient(106.07deg, #2993FF 10.77%, #FFA93B 51.24%, #FB5F20 95.08%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -10;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #4F41D5 -0.13%, #915EDA 53.4%, #DC683E 99.87%);
  opacity: 0.75;
}

.gradient-border:hover::before {
  opacity: 1;
}